{{ 'blog--article.css' | asset_url | stylesheet_tag }}

{% liquid
  assign blog_handle = article.handle | split: '/' | first
  assign blog_title = blogs[blog_handle].title
  assign blog_url = blogs[blog_handle].url
  assign class_name = 'blog-article'

  if is_highlighted
    assign class_name = class_name | append: ' blog-article--highlight'
  endif

  if article_layout == 'vertical'
    assign class_name = class_name | append: ' blog-article--vertical'
  else
    assign class_name = class_name | append: ' blog-article--horizontal'
  endif
%}
<a
  href="{{ article.url }}"
  class="{{ class_name }}"
  {% if index > displayed_quantity %}
    style="display: none;"
  {% endif %}
>
  <div class="blog-article__image">
    {{ article.image | image_url: width: 600 | image_tag: class: 'blog-article__image__img' }}
  </div>
  <div class="blog-article__content">
    <p onclick="event.preventDefault(); window.location.href='{{ blog_url }}';" 
      class="blog-article__category blog-article__category--mobile">
      {{ blog_title }}
    </p>
    <h3 class="blog-article__title">{{ article.title }}</h3>
    {% render 'blog--post-meta', article: article, blog_title: blog_title, blog_url: blog_url %}
  </div>
</a>