{{ 'blog--sneaker-post-gallery.css' | asset_url | stylesheet_tag }}

<div class="blog-sneaker-post-gallery">
  {% if heading != blank %}
    <h2 class="blog-sneaker-post-gallery__heading">{{ heading }}</h2>
  {% endif %}
  <div
    class="blog-sneaker-post-gallery__wrapper"
    data-blog-handle="{{ blog_handle }}"
    data-total-articles-displayed="{{ total_articles_displayed }}"
    data-total-articles-view-more="{{ total_articles_view_more }}"
  >
    {% if blog_handle != blank %}
      {% assign blog = blogs[blog_handle].articles %}
      <div class="blog-sneaker-post-gallery__articles">
        {% for article in blog %}
          {% liquid
            assign is_highlighted = false
            if highlight_first_article and forloop.first
              assign is_highlighted = true
            endif
          %}
          {% render 'blog--article',
            article: article,
            is_highlighted: is_highlighted,
            index: forloop.index,
            displayed_quantity: total_articles_displayed
          %}
        {% endfor %}
      </div>
    {% elsif articles %}
      <div class="blog-sneaker-post-gallery__articles blog-by_published-at">
        {% for article_handle in articles %}
          {% liquid
            assign article_info = article_handle | split: ',' | last
            assign blog_handle = article_info | split: '/' | first
            assign articles = blogs[blog_handle].articles
            for blog in articles
              if blog.handle == article_info
                assign article = blog
              endif
            endfor

            assign is_highlighted = false
            if highlight_first_article and forloop.first
              assign is_highlighted = true
            endif
          %}
          {% render 'blog--article',
            article: article,
            is_highlighted: is_highlighted,
            index: forloop.index,
            displayed_quantity: total_articles_displayed
          %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="blog-sneaker-post-gallery__newsletter">
      {% if newsletter_block %}
        <div class="blog-sneaker-post-gallery__newsletter-wrapper">
          <div class="blog-sneaker-post-gallery__newsletter-content">
            <h2 class="blog-sneaker-post-gallery__newsletter-heading">{{ newsletter_block.settings.heading }}</h2>
            <p class="blog-sneaker-post-gallery__newsletter-subheading">{{ newsletter_block.settings.subheading }}</p>
          </div>

          <div class="blog-sneaker-post-gallery__newsletter-form">
            <input
              type="email"
              class="blog-sneaker-post-gallery__newsletter-input"
              placeholder="Your email"
              aria-label="Email address"
              required
            >
            <button class="btn blog-sneaker-post-gallery__newsletter-subscribe">
              {{ newsletter_block.settings.button_text }}
            </button>
          </div>
        </div>
        {% if newsletter_block.settings.image %}
          <div class="blog-sneaker-post-gallery__newsletter-image">
            {{ newsletter_block.settings.image | image_url: width: 600 | image_tag }}
          </div>
          <div class="blog-sneaker-post-gallery__newsletter-image-overlay"></div>
        {% endif %}
      {% endif %}
    </div>

    <div class="blog-sneaker-post-gallery__view-more">
  <button class="blog-sneaker-post-gallery__view-more_btn blog-sneaker-post-gallery__view-more_btn--more">View More</button>
  <button class="blog-sneaker-post-gallery__view-more_btn blog-sneaker-post-gallery__view-more_btn--less" style="display:none;">See Less</button>
</div>
  </div>
</div>

<script>
  window.addEventListener('load', function () {
    const viewMoreButton = document.querySelector('.blog-sneaker-post-gallery__view-more_btn--more');
    const seeLessButton = document.querySelector('.blog-sneaker-post-gallery__view-more_btn--less');
    const articles = document.querySelectorAll('.blog-sneaker-post-gallery__articles a');
    const totalDisplayed = parseInt(
      document.querySelector('.blog-sneaker-post-gallery__wrapper').dataset.totalArticlesDisplayed,
      10
    );
    const viewMoreQuantity = parseInt(
      document.querySelector('.blog-sneaker-post-gallery__wrapper').dataset.totalArticlesViewMore,
      10
    );
    let displayedCount = totalDisplayed;

    viewMoreButton.addEventListener('click', function () {
      articles.forEach((article, index) => {
        if (index >= displayedCount && index < displayedCount + viewMoreQuantity) {
          article.style.display = 'grid';
        }
      });
      displayedCount += viewMoreQuantity;
      if (displayedCount >= articles.length) {
        viewMoreButton.style.display = 'none';
        seeLessButton.style.display = 'inline-block';
      }
    });

    seeLessButton.addEventListener('click', function () {
      articles.forEach((article, index) => {
        article.style.display = index < totalDisplayed ? 'grid' : 'none';
      });
      displayedCount = totalDisplayed;
      viewMoreButton.style.display = 'inline-block';
      seeLessButton.style.display = 'none';
    });
  });
</script>