{%- comment -%}

COLLECTION FILTERING

Accepts:
 - collection {Obj} Shopify's collection object
 - classes: {String} Wrapper classes
 - desktop_position: {String} Accepts 'sidebar' or 'topbar'
 - enable_collection_title: {Boolean} Enables collection title
 - enable_collection_description: {Boolean} Enables collection description
 - enable_filtering: {Boolean} Enables filtering
 - enable_sorting: {Boolean} Enables sorting
    
{%- endcomment -%}

{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}

{% capture icon_caret %}
  {% render 'theme-icon' with icon: 'chevron_down', iconSize: 16, iconClasses: 'icon icon-caret' %}
{% endcapture %}

{% capture icon_close %}
  {% render 'theme-icon' with icon: 'close', iconSize: 12, iconClasses: 'icon icon-close-small' %}
{% endcapture %}

{% capture icon_filter %}
  {% render 'theme-icon' with icon: 'filter', iconSize: 12, iconClasses: 'icon icon-close-small' %}
{% endcapture %}

{% capture icon_sort_by %}
  {% render 'theme-icon' with icon: 'sort-by', iconSize: 12, iconClasses: 'icon icon-close-small' %}
{% endcapture %}

{% capture icon_checkbox %}
  {% render 'theme-icon' with icon: 'checkbox', iconSize: 12, iconClasses: 'icon-checkbox', iconAttributes: 'aria-hidden="true" focusable="false"' %}
{% endcapture %}

{% capture icon_checkmark %}
  {% render 'theme-icon' with icon: 'icon-checkmark', iconSize: 12, iconClasses: 'icon-checkmark', iconAttributes: 'aria-hidden="true" focusable="false"' %}
{% endcapture %}

{%-liquid
  if enable_collection_title and collection.title != blank
    assign collection_title = true
  endif

  if enable_collection_description and collection.description != blank
    assign collection_description = true
  endif

  assign color_langs = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' | join: ' '
-%}

{{ 'main-collection-filtering-sorting.css' |  asset_url |  stylesheet_tag }}

<div class="{{ classes }}">

  {% if collection_title or collection_description %}
  <div class="collection-info">
    {% if collection_title %}
      <div class="sitewide--title-wrapper">
        <h1 class="page--title">{{ collection.title }}</h1>
      </div>
    {% endif %}

    {% if collection_description %}
      <div class="rte collection-info__description text-link-animated">
        {{ collection.description }}
      </div>
    {% endif %}
  </div>
  {% endif %}

  <div class="collection-filters collection-filters__{% if desktop_position == 'sidebar' %}sidebar{% else %}topbar{% endif %}" id="main-collection-filters" data-id="{{ section.id }}">

    <collection-filtering-form class="facets" data-filter-form>
      <div class="collection-filters-handler-wrapper">
        <button type="button" class="collection-filters-handler collection-filters-btn" data-drawer-open-btn>
          {{ icon_filter }}

          {% liquid
            for filter in collection.filters

              if filter.type == 'price_range'
                if filter.min_value.value or filter.max_value.value
                  assign total_active_values = total_active_values | plus: 1
                endif
              else 
                assign total_active_values = total_active_values | plus: filter.active_values.size
              endif
            endfor
          %}
          <div class="collection-filters"> 
            Filters
            <span class="count-bubble" style="display: {% if total_active_values > 0 %}block{% else %}none{% endif %};">{{ total_active_values }}</span>
          </div>
        </button>
        {% comment %} <label for="SortBy" class="collection-filters-handler collection-sort-btn" data-drawer-open-btn>
          {{ icon_sort_by }}
          <span>{{ 'sections.collection_template.sort_by_label' | t }}</span>
        </label> {% endcomment %}


        {%- if enable_sorting == true -%}
          <div class="collection-filters__item sorting">
            <div class="collection-filters__field">
              <div class="select">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                {% comment %} <select name="sort_by" class="select__select collection-filters__sort" id="SortBy" aria-describedby="a11y-refresh-page-message">
                  {%- for option in collection.sort_options -%}
                    <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>
                      <div class="label">
                        {{ icon_sort_by }}
                        <span>{{ 'sections.collection_template.sort_by_label' | t }}: </span>
                      </div>
                      {{ option.name | escape }}
                      </option>
                  {%- endfor -%}
                </select> {% endcomment %}
                {{ icon_sort_by }}
                <select class="filter-selector">
                  {%- for option in collection.sort_options -%}
                  <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>
                    <div class="label">
                      {{ icon_sort_by }}
                      <span>{{ 'sections.collection_template.sort_by_label' | t }}: </span>
                    </div>
                    {{ option.name | escape }}
                    </option>
                {%- endfor -%}
                </select>
                {{ icon_caret }}
              </div>
            </div>

            <noscript>
              <button type="submit" class="button button--small">{{ 'sections.collection_template.sort_button' | t }}</button>
            </noscript>
          </div>
        {% endif %}
      </div>
      <form id="CollectionFiltersForm" class="facets__form">
        {%- if enable_filtering == true or enable_sorting == true -%}

          <div class="drawer__close js-drawer-close">
            <button type="button" aria-label="{{ 'cart.general.close_cart' | t }}" class="mobile-menu--close-btn icon-fallback-text" data-drawer-close-btn>
              <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
              {% render 'theme-icon' with icon: 'close', iconSize: 20 %}
            </button>
          </div>

          <div class="facets__form-inner">
            {% if enable_filtering == true %}
              <div class="facets__wrapper">
                {%- unless collection.filters == empty -%}
                  <p class="facets__heading label-font">{{ 'sections.collection_template.filter_by_label' | t }}</p>
                {%- endunless -%}

                {%- assign total_active_values = 0 -%}
                {%- for filter in collection.filters -%}
                  {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                  {% case filter.type %}
                  {% when 'boolean' or 'list' %}

                    {% liquid 
                      assign isColor = false
                      assign file_extension = 'png'
                      assign downcased_label = filter.label | downcase
                      if color_langs contains downcased_label
                        assign isColor = true
                      endif
                    %}

                    <details class="disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}">
                      <summary class="facets__summary">
                        <div>
                          <div class="facets__title">
                            <span >{{ filter.label | escape }}</span>
                            <span class="count-bubble" data-active-values="{{ filter.active_values.size }}">{%- if filter.active_values.size > 0 -%}{{ filter.active_values.size }}{%- endif -%}</span>
                            <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link js-facet-remove" style="display: {%- if filter.active_values.size > 0 -%}block{% else %}none{%- endif -%};">
                              {{ 'sections.collection_template.reset' | t }}
                            </a>
                          </div>
                          {{ icon_caret }}
                        </div>
                      </summary>
                      {% liquid
                        for value in filter.values
                          assign faces_list_items = forloop.length
                          break
                        endfor
                      %}

                      <div class="facets__display">
                        {% liquid
                            if faces_list_items > 11
                              assign facets_class = ' facets__list_three_columns'
                            elsif faces_list_items > 7
                              assign facets_class = ' facets__list_two_columns'
                            endif
                        %}
                        <ul class="facets__list list-unstyled{{ facets_class }}" role="list">
                          {%- for value in filter.values -%}
                            {% liquid 
                              assign image_url = value.label | handle | append: '.' | append: file_extension | asset_url
                              assign has_image_swatch = false

                              if image_url contains 'v='
                                assign has_image_swatch = true
                              endif
                            %}
                            <li class="list-menu__item facets__item">
                              <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                                <input type="checkbox"
                                  name="{{ value.param_name }}"
                                  value="{{ value.value }}"
                                  id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                  {% if value.active %}checked{% endif %}
                                  {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                  {% if isColor %}data-swatch="true"{% endif %}
                                >

                                {% unless isColor %}
                                  {% comment %} <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                  </svg>

                                  {% render 'theme-icon' with icon: 'checkmark', iconSize: 14, iconClasses: 'icon icon-checkmark', iconAttributes: 'aria-hidden="true" focusable="false"' %} {% endcomment %}
                                  {{ icon_checkbox }}
                                  {{ icon_checkmark }}
                                {% else %}
                                  <div
                                    aria-hidden="true" 
                                    focusable="false"
                                    class="filter-swatch"
                                    {% if isColor %}style="{% if has_image_swatch %}background-image: url({{ image_url }}); background-size: cover;{% else %}background-color: {{ value.label }};{% endif %}"{% endif %}
                                  >
                                  </div>
                                {% endunless %}

                                {{ value.label | escape }}
                              </label>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </details>
                  {% when 'price_range' %}
                    {% liquid
                      assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                      assign uses_comma_decimals = false
                      if currencies_using_comma_decimals contains cart.currency.iso_code
                        assign uses_comma_decimals = true
                      endif
                    %}
                    <details class="disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}">
                      <summary class="facets__summary">
                        <div style="margin-bottom: 5px">
                          <div class="facets__title">
                            
                          <span>{{ filter.label | escape }}</span>
                          
                          {% liquid
                            if filter.min_value.value or filter.max_value.value
                              assign filter_active = true
                            endif
                          %}
                          <span class="count-bubble{%- if filter_active == true -%}{{ filter.active_values.size }} count-bubble--dot{% endif %}" data-active-values="{%- if filter_active == true -%}1{% endif %}"></span>
                          <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link js-facet-remove" style="display: {%- if filter_active == true -%}block{% else %}none{% endif %};">{{ 'sections.collection_template.reset' | t }}</a>
                            </div>
                          {{ icon_caret }} 
                          </div>
                      </summary>
                      <div class="facets__display">
                        {% comment %} <div class="facets__header text-inline-link-animated">
                        </div> {% endcomment %}
                        <price-range-selector class="facets__price">
                          <div class="field">
                            {% comment %} <span class="field__currency">{{ cart.currency.symbol }}</span> {% endcomment %}
                            <input class="field__input"
                              name="{{ filter.min_value.param_name }}"
                              id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                              {%- if filter.min_value.value -%}
                                {%- if uses_comma_decimals -%}
                                  value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                {% endif %}
                              {%- endif -%}
                              type="number"
                              placeholder="0"
                              min="0"
                              max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                            </input>
                            <label class="field__label" for="Search-In-Modal">{{ 'sections.collection_template.from' | t }}</label>
                          </div>
                          <span class="text" style="margin-top: 10px">To</span>
                          <div class="field">
                            {% comment %} <span class="field__currency">{{ cart.currency.symbol }}</span> {% endcomment %}
                            <input class="field__input"
                              name="{{ filter.max_value.param_name }}"
                              id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                              {%- if filter.max_value.value -%}
                                {%- if uses_comma_decimals -%}
                                  value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                {% endif %}
                              {%- endif -%}
                              type="number"
                              placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                              min="0"
                              max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                            </input>
                            <label class="field__label" for="Search-In-Modal">{{ 'sections.collection_template.to' | t }}</label>

                            {%- assign max_price_amount = filter.range_max | money | escape -%}
                            <span class="facets__selected">{{ "sections.collection_template.max_price" | t: price: max_price_amount }}</span>
                          </div>
                        </div>
                      </price-range-selector>
                    </details>
                  {% endcase %}
                {%- endfor -%}
                <noscript>
                  <button type="submit" class="facets__button button">{{ 'sections.collection_template.filter_button' | t }}</button>
                </noscript>
              </div>

              <div class="active-facets active-facets-desktop">
              <a href="{{ collection.url }}?sort_by={{ sort_by }}" class="active-facets__button button button--secondary js-facet-remove">{{ 'sections.collection_template.clear_all' | t }}</a>
                {%- for filter in collection.filters -%}

                  {% liquid 
                    assign isColor = false
                    assign file_extension = 'png'
                    assign downcased_label = filter.label | downcase
                    if color_langs contains downcased_label
                      assign isColor = true
                    endif
                  %}

                  {%- for value in filter.active_values -%}
                    <a class="active-facets__button active-facets__button--light button button--tertiary js-facet-remove" href="{{ value.url_to_remove }}" {% if isColor %}data-swatch="true"{% endif %}>
                      {% if filter.type == 'boolean' %}
                        {{ filter.label | escape | append: ': ' }}
                      {% endif %}

                      {% if isColor %}
                        {% liquid 
                          assign image_url = value.label | handle | append: '.' | append: file_extension | asset_url
                          assign has_image_swatch = false

                          if image_url contains 'v='
                            assign has_image_swatch = true
                          endif
                        %}

                        <div 
                          aria-hidden="true" 
                          focusable="false"
                          class="color-icon"
                          {% if isColor %}style="{% if has_image_swatch %}background-image: url({{ image_url }}); background-size: cover;{% else %}background-color: {{ value.label }};{% endif %}"{% endif %}
                        >
                        </div>
                      {% endif %}

                      {{ value.label | escape }}
                      {{ icon_close }}
                    </a>
                  {%- endfor -%}
                  {% if filter.type == "price_range" %}
                    {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                      <a class="active-facets__button active-facets__button--light button button--tertiary js-facet-remove" href="{{ filter.url_to_remove }}">
                        {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
                        {{ icon_close }}
                      </a>
                    {%- endif -%}
                  {% endif %}
                {%- endfor -%}
              </div>
              <div class="collection-filters__item sorting" style="display: none;">
                <div class="collection-filters__field">
                  <label class="collection-filters__label label-font" for="SortBy">Sort by</label>
                  <div class="select">
                    <select name="sort_by" class="select__select collection-filters__sort" id="SortBy" aria-describedby="a11y-refresh-page-message">
                      {%- for option in collection.sort_options -%}
                        <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>
                          <div class="label">
                            {{ icon_sort_by }}
                            <span>{{ 'sections.collection_template.sort_by_label' | t }}: </span>
                          </div>
                          {{ option.name | escape }}
                          </option>
                      {%- endfor -%}
                    </select>
                    <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="icon icon-caret"><path d="M5.5 7.5L10.5 12.5L15.5 7.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                  </div>
                </div>

                <noscript>
                  <button type="submit" class="button button--small">Sort</button>
                </noscript>
              </div>

              {% if collection.current_vendor or collection.current_type %}
                <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
              {% endif %}

            {% endif %}
          </div>

        {% endif %}
      </form>
    </collection-filtering-form>

    <div class="container">
        <div class="active-facets active-facets-mobile">
            <a href="{{ collection.url }}?sort_by={{ sort_by }}" class="active-facets__button button button--secondary js-facet-remove">{{ 'sections.collection_template.clear_all' | t }}</a>

              {%- for filter in collection.filters -%}

                {% liquid 
                  assign isColor = false
                  assign file_extension = 'png'
                  assign downcased_label = filter.label | downcase
                  if color_langs contains downcased_label
                    assign isColor = true
                  endif
                %}

                {%- for value in filter.active_values -%}
                    <a class="active-facets__button active-facets__button--light button button--tertiary js-facet-remove" href="{{ value.url_to_remove }}" {% if isColor %}data-swatch="true"{% endif %}>
                        {% if filter.type == 'boolean' %}
                          {{ filter.label | escape | append: ': ' }}
                        {% endif %}

                        {% if isColor %}
                          {% liquid 
                            assign image_url = value.label | handle | append: '.' | append: file_extension | asset_url
                            assign has_image_swatch = false

                            if image_url contains 'v='
                              assign has_image_swatch = true
                            endif
                          %}

                          <div 
                            aria-hidden="true" 
                            focusable="false"
                            class="color-icon"
                            {% if isColor %}style="{% if has_image_swatch %}background-image: url({{ image_url }}); background-size: cover;{% else %}background-color: {{ value.label }};{% endif %}"{% endif %}
                          >
                          </div>
                        {% endif %}

                        {{ value.label | escape }}
                        {{ icon_close }}
                    </a>
                {%- endfor -%}

                {% if filter.type == "price_range" %}
                    {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                    <a class="active-facets__button active-facets__button--light button button--tertiary js-facet-remove" href="{{ filter.url_to_remove }}">
                        {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
                        {{ icon_close }}
                    </a>
                    {%- endif -%}
                {% endif %}
            {%- endfor -%}
        </div>
    </div>
  </div>
</div>

<script src="{{ 'filtering.js' | asset_url }}" defer="defer"></script>
