{% comment %}
Dropdowns or swatches for product

Parameters:
* section_id: id of a section
* variant_style: 'dropdowns' | 'swatches'
{% endcomment %}

{% assign hide_default_title = false %}
{% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
  {% assign hide_default_title = true %}
{% endif %}

{% if product.variants.size > 0  %}
  <div {% if classes %}{{ classes }} {% endif %}{% if block_attributes %}{{ block_attributes }}{% endif %}>
    {% if variant_style == 'dropdowns' %}

      {% for option in product.options_with_values %}

        {% assign option_index = forloop.index0 %}

        <div class="selector-wrapper js{% if hide_default_title == true %} hide{% endif %}">
          <wetheme-dropdown 
            is-variant-dropdown
            :sold-out-string="'({{ 'products.product.sold_out' | t }})'"
            name="{{ forloop.index }}" 
            v-on:change="setVariantOption" 
            v-bind:value="option{{ forloop.index }}"
          >
            <div class="option-label-wrapper">
              <label for="SingleOptionSelector-{{ forloop.index0 }}" class="label-font">{{ option.name }}</label>
              {%- if option.name == size_option_name and size_guide_page != blank -%}
                <div id="size-guide" class="text-link-animated">
                  <a id="size-guide-link" tabindex="0" href="{{ size_guide_page.url }}">{{ size_guide_page.title }}</a>
                </div>
              {%- endif -%}
            </div>
            <select class="form-control" id="SingleOptionSelector-{{ forloop.index0 }}" autocomplete="off">
              {% for value in option.values %}
                {% if hide_out_of_stock_variants %}
                  {% assign show_option = false %}
                  {% comment %}
                  Is there ANY variant with this option text that is available? If ALL are not available, the option is sold out.
                  {% endcomment %}
                  {% for v in product.variants %}
                    {% if v.options[option_index] == value and v.available %}
                      {% assign show_option = true %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% assign show_option = true %}
                {% endif %}

                {%- liquid
                  assign variants_available_arr = product.variants | map: 'available'
                  assign variants_option1_arr = product.variants | map: 'option1'
                  assign variants_option2_arr = product.variants | map: 'option2'
                  assign variants_option3_arr = product.variants | map: 'option3'
                -%}
    
                {% assign option_available = false %}
    
                {% for option_1 in variants_option1_arr %}
                  {% case option_index %}
                    {% when 0 %}
                      {% if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0] %}
                        {% assign option_available = true %}
                      {% endif %}
                    {% when 1 %}
                      {% if option_1 == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0] %}
                        {% assign option_available = true %}
                      {% endif %}
                    {% when 2 %}
                      {% if option_1 == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0] %}
                        {% assign option_available = true %}
                      {% endif %}
                  {% endcase %}
                {% endfor %}

                {% if show_option %}
                  <option 
                    {% if option.selected_value == value %}selected{% endif %} 
                    value="{{ value | escape }}"
                    {% unless option_available %}data-status-text="({{ 'products.product.sold_out' | t }})"{% endunless %}
                  >
                    {{ value }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </wetheme-dropdown>
        </div>
      {% endfor %}

    {% else %}

      {% if hide_default_title == false %}
        {% for option in product.options %}
          {% render 'swatch' with option, product: product, size_option_name: size_option_name, size_guide_page: size_guide_page, hide_out_of_stock_variants: hide_out_of_stock_variants %}
        {% endfor %}
      {% endif %}

    {% endif %}
  </div>
{% endif %}


<select name="id" id="productSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-single__variants original-select no-js" autocomplete="off" v-model="variant && variant.id">
  {% for variant in product.variants %}
    {% if variant.available %}
      <option {% if variant.id == current_variant.id %} selected {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
    {% else %}
      <option value="{{ variant.id }}" disabled>
        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      </option>
    {% endif %}
  {% endfor %}
</select>
