{{ 'blog--recently-post.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Blog Recently Post",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Related Post"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "label": "Post Limit",
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Blog Recently Post",
      "category": "Blog"
    }
  ]
}
{% endschema %}

<div class="related-post">
  <h2 class="related-post__title">{{ section.settings.title }}</h2>
  <hr />
  <div class="related-post__list">
    {% if section.settings.blog != blank %}
      {% assign blog = blogs[section.settings.blog] %}
      {% for article in blog.articles limit: section.settings.post_limit %}
        <a href="{{ article.url }}" class="related-post__item">
          <div class="related-post__image">
            {% if article.image %}
              {{ article.image | image_url: width: 1000, height: 1000 | image_tag: class: 'related-post__image-img' }}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'related-post__image-placeholder' }}
            {% endif %}
          </div>
          <div class="related-post__content">
            <p class="related-post__content__category">{{ blog.title }}</p>
            <h3 class="related-post__content__title">{{ article.title }}</h3>
            <div class="related-post__content__meta">
              <span class="related-post__content__meta__date">
                {% assign today_timestamp = 'now' | date: '%s' %}
                {% assign published_timestamp = article.published_at | date: '%s' %}
                {% assign seconds_difference = today_timestamp | minus: published_timestamp %}
                {% assign days_difference = seconds_difference | divided_by: 86400 | floor %}

                {% if days_difference == 0 %}
                  Today
                {% elsif days_difference == 1 %}
                  a day ago
                {% elsif days_difference < 7 %}
                  {{ days_difference }} days ago
                {% else %}
                  {{ article.published_at | date: '%B %d, %Y' }}
                {% endif %}
              </span>
              <span class="dot">
                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5" fill="none">
                  <circle cx="2" cy="2.47461" r="2" fill="#D9D9D9"/>
                </svg>
              </span>
              <span class="related-post__content__meta__comments">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                  <g opacity="0.8">
                  <path d="M13.5 3.47461H2.50002C2.2348 3.47461 1.98045 3.57997 1.79291 3.7675C1.60537 3.95504 1.50002 4.20939 1.50002 4.47461V14.4746C1.49886 14.6653 1.55281 14.8523 1.65537 15.013C1.75793 15.1738 1.90473 15.3015 2.07814 15.3809C2.21029 15.4424 2.35425 15.4744 2.50002 15.4746C2.73477 15.474 2.96174 15.3903 3.14064 15.2384L3.14627 15.234L5.18752 13.4746H13.5C13.7652 13.4746 14.0196 13.3693 14.2071 13.1817C14.3947 12.9942 14.5 12.7398 14.5 12.4746V4.47461C14.5 4.20939 14.3947 3.95504 14.2071 3.7675C14.0196 3.57997 13.7652 3.47461 13.5 3.47461ZM13.5 12.4746H5.00002C4.87996 12.4747 4.76394 12.5179 4.67314 12.5965L2.50002 14.4746V4.47461H13.5V12.4746Z" fill="black"/>
                  </g>
                </svg>
                <span>
                  {{ article.comments_count }}
                </span>
              </span>
            </div>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <p class="related-post__empty-message">Please select a blog in the section settings.</p>
    {% endif %}
  </div>
</div>
