{{  'blog--comment.css' | asset_url | stylesheet_tag }}

{% assign number_of_comments = article.comments_count %}

{% if blog.comments_enabled? %}
  {% paginate article.comments by 5 %}
    <div class="blog-comment">
      {% if number_of_comments > 0 %}
        <h3 class="blog-comment__title">
          {{ 'blogs.comments.with_count' | t: count: number_of_comments }}
        </h3>
      {% endif %}

      {% if number_of_comments > 0 %}
        <ul class="blog-comment__list">
          {% for comment in article.comments %}
            <li id="{{ comment.id }}" class="blog-comment__item">
              <div class="blog-comment__content">
                <p class="blog-comment__text">{{ comment.content }}</p>
                <div class="blog-comment__meta">
                  <span class="blog-comment__author">{{ comment.author }}</span>
                  <span class="blog-comment__separator"></span>
                  <time class="blog-comment__date" datetime="{{ comment.created_at | date: '%Y-%m-%d' }}">
                    {{ comment.created_at | date: '%B %d, %Y' }}
                  </time>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>

        {% if paginate.pages > 1 %}
          <div class="blog-comment__pagination">
            <ul class="blog-comment__pagination-list">
              {% if paginate.previous %}
                <li class="blog-comment__pagination-item">
                  <a href="{{ paginate.previous.url }}" class="blog-comment__pagination-link"> &laquo; </a>
                </li>
              {% endif %}

              {% for part in paginate.parts %}
                <li class="blog-comment__pagination-item{% if part.is_link == false %} blog-comment__pagination-item--active{% endif %}">
                  {% if part.is_link %}
                    <a href="{{ part.url }}" class="blog-comment__pagination-link">{{ part.title }}</a>
                  {% else %}
                    {{ part.title }}
                  {% endif %}
                </li>
              {% endfor %}

              {% if paginate.next %}
                <li class="blog-comment__pagination-item">
                  <a href="{{ paginate.next.url }}" class="blog-comment__pagination-link"> &raquo; </a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      {% endif %}

      <div class="blog-comment__form">
        {% form 'new_comment', article %}
          <h3 class="blog-comment__form-title">{{ 'blogs.comments.title' | t }}</h3>
          {{ form.errors | default_errors }}

          <div class="blog-comment__form-grid">
            <div class="blog-comment__form-group">
              <label for="CommentAuthor" class="blog-comment__form-label">{{ 'blogs.comments.name' | t }}</label>
              <input
                type="text"
                name="comment[author]"
                id="CommentAuthor"
                class="blog-comment__form-input{% if form.errors contains 'author' %} blog-comment__form-input--error{% endif %}"
                placeholder="{{ 'blogs.comments.name' | t }}"
                value="{{ form.author }}"
              >
            </div>

            <div class="blog-comment__form-group">
              <label for="CommentEmail" class="blog-comment__form-label">{{ 'blogs.comments.email' | t }}</label>
              <input
                type="email"
                name="comment[email]"
                id="CommentEmail"
                class="blog-comment__form-input{% if form.errors contains 'email' %} blog-comment__form-input--error{% endif %}"
                placeholder="{{ 'blogs.comments.email' | t }}"
                value="{{ form.email }}"
              >
            </div>

            <div class="blog-comment__form-group blog-comment__form-group--textarea">
              <label for="CommentBody" class="blog-comment__form-label">{{ 'blogs.comments.message' | t }}</label>
              <textarea
                name="comment[body]"
                id="CommentBody"
                class="blog-comment__form-textarea{% if form.errors contains 'body' %} blog-comment__form-textarea--error{% endif %}"
                placeholder="{{ 'blogs.comments.message' | t }}"
              >{{ form.body }}</textarea>
            </div>
          </div>

          <button type="submit" class="blog-comment__form-submit">
            {{ 'blogs.comments.post' | t }}
          </button>
        {% endform %}
      </div>
    </div>
  {% endpaginate %}
{% endif %}

{% schema %}
{
  "name": "Blog Comment",
  "settings": [],
  "presets": [
    {
      "name": "Blog Comment",
      "category": "Blog"
    }
  ]
}
{% endschema %}
