{{ 'collection-grid.css' | asset_url | stylesheet_tag }}

<section id="collection-grid">
  <div class="collection-grid-container">
    <div class="collection-grid-wrapper">
      <div class="collection-grid-title">
        <h2>{{ section.settings.section_title }}</h2>
      </div>
      <div class="collection-grid-layout">
        {% for block in section.blocks %}
          <a href="{{ block.settings.collection.url }}" class="collection-grid-item">
            <div class="collection-image">
              {% render 'responsive-image' with block.settings.collection_image %}
            </div>
            <div class="collection-text" style="color: {{ block.settings.collection_text_color }}">
              <p>{{ block.settings.collection_text }}</p>
        </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection Grid",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Our Collection"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "Collection Image"
        },
        {
          "type": "text",
          "id": "collection_text",
          "label": "Collection Text"
        },
        {
          "type": "color",
          "id": "collection_text_color",
          "label": "Collection Text Color",
          "default": "#000000"
        }
      ],
      "limit": 3
    }
  ]
}
{% endschema %}
