<link rel="preload" href="{{ 'section-featured-collection.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>{{ 'section-featured-collection.min.css' | asset_url | stylesheet_tag }}</noscript>

<div
  class="homepage-sections-wrapper homepage-sections-wrapper--{{ section.settings.colors }}"
  data-wetheme-section-type="collection--featured-collection" data-wetheme-section-id="{{ section.id }}"
>

<div class="wrapper-padded">

  <div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper">

  {% if section.settings.title != blank or section.settings.richtext != blank %}
    <div class="homepage-featured-rich-text">
      <div class="page-width featured-products-wrapper">
        {% if section.settings.title != blank %}
            <div class="sitewide--title-wrapper">

              <h2 class="homepage-sections--title">{{ section.settings.title | escape }}</h2>
            </div>
        {% endif %}

        {% if section.settings.richtext != blank %}
          <div class="rte featured-row__subtext textarea text-link-animated">{{ section.settings.richtext }}</div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}
  {%- assign tablet_item_width = 'medium--one-half' -%}

  {% case section.settings.grid-desktop %}
    {% when 2 %}
      {%- assign desktop_item_width = 'large--one-half' -%}
      {%- assign image_size = '800x1000' -%}
    {% when 3 %}
      {%- assign desktop_item_width = 'large--one-third' -%}
      {%- assign image_size = '550x750' -%}
    {% when 4 %}
      {%- assign desktop_item_width = 'large--one-quarter' -%}
      {%- assign image_size = '400x' -%}
    {% when 5 %}
      {%- assign desktop_item_width = 'large--one-fifth' -%}
      {%- assign image_size = '300x' -%}
    {% when 6 %}
      {%- assign desktop_item_width = 'large--one-sixth' -%}
      {%- assign image_size = '200x' -%}
  {% endcase %}

  {% case section.settings.grid-mobile%}
    {% when "1" %}
      {%- assign mobile_item_width = 'small--one-whole' -%}
    {% when "2" %}
      {%- assign mobile_item_width = 'small--one-half' -%}
  {% endcase %}

  {% assign crop_setting = settings.product-grid %}
  {% if crop_setting == "square" %}
      {% assign image_crop = "aspect-ratio--square" %}
  {% elsif crop_setting == "tall" %}
      {% assign image_crop = "aspect-ratio--tall" %}
  {% elsif crop_setting == "wide" %}
      {% assign image_crop = "aspect-ratio--wide" %}
  {% else %}
      {% assign image_crop = false %}
  {% endif %}

  {%- assign grid_item_width = desktop_item_width | append: ' ' | append: tablet_item_width | append: ' ' | append: mobile_item_width -%}

  {%- assign product_limit = section.settings.grid-desktop | times: section.settings.rows -%}

  {% comment %} Construct product card layout {% endcomment %}
  {%- capture product_card_blocks -%}
    {%- for block in section.blocks -%}
      {%- if block.type contains "product_card_" -%}
        {{ block.type }},
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}

  <div class="grid-uniform homepage-product-grid-wrapper">

    {% for product in collection.products limit: product_limit %}
      {%- assign grid_image_width = image_size -%}
      {% comment %}
        Set the default grid_item_width if no variable is set
      {% endcomment %}
      {% unless grid_item_width %}
        {% assign grid_item_width = 'large--one-third medium--one-half' %}
      {% endunless %}

      {% comment %}
        Check if the product is on sale and set a variable to be used below.
      {% endcomment %}
      {% assign on_sale = false %}
      {% if product.compare_at_price > product.price %}
        {% assign on_sale = true %}
      {% endif %}

      {% comment %}
        Check if the product is sold out and set a variable to be used below.
      {% endcomment %}
      {% assign sold_out = true %}
      {% if product.available %}
        {% assign sold_out = false %}
      {% endif %}

      <div class="grid__item {{ grid_item_width }} featured-product--grid-item">
        {% render 'grid-view-item', product: product, collection: collection, blocks: product_card_blocks, enable_badges: settings.show_badges, grid_count_desktop: section.settings.grid-desktop, grid_count_mobile: section.settings.grid-mobile %}
      </div>

    {% else %}
      {% for i in (1..product_limit) %}
        {% capture svg_index %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        <div class="grid__item {{ grid_item_width }} featured-product--grid-item">
          {% render 'grid-view-item-placeholder', blocks: product_card_blocks, svg_index: svg_index %}
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  {% if section.settings.show_view_all %}
    <div class="text-center show-view-all--button">
      <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
        {{ 'collections.general.view_all' | t }}
      </a>
    </div>
  {% endif %}

</div>

</div>

</div>

{% schema %}
{
	"name": "t:sections.collection--featured-collection.name",
	"class": "featured-products-wrapper show-on-scroll",
	"settings": [
		{
			"type": "header",
			"content": "t:all.Grid_layout"
		},
		{
			"type": "range",
			"id": "rows",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "t:all.Rows_per_page_on_desktop",
			"default": 2
		},
		{
			"type": "range",
			"id": "grid-desktop",
			"min": 2,
			"max": 5,
			"step": 1,
			"label": "t:all.Product_per_row_on_desktop",
			"default": 4
		},
		{
			"type": "select",
			"id": "grid-mobile",
			"label": "t:all.Product_per_row_on_mobile",
			"options": [
				{
					"value": "1",
					"label": "t:all.1"
				},
				{
					"value": "2",
					"label": "t:all.2"
				}
			],
			"default": "2"
		},
		{
			"type": "select",
			"id": "colors",
			"label": "t:all.Color_scheme",
			"default": "white",
			"options": [
				{
					"value": "white",
					"label": "t:all.Minimal"
				},
				{
					"value": "light",
					"label": "t:all.Light"
				},
				{
					"value": "accent",
					"label": "t:all.Feature"
				},
				{
					"value": "dark",
					"label": "t:all.Dark"
				}
			]
		},
		{
			"type": "text",
			"id": "title",
			"label": "t:all.Heading"
		},
		{
			"type": "richtext",
			"id": "richtext",
			"label": "t:all.Description"
		},
		{
			"id": "collection",
			"type": "collection",
			"label": "t:all.Collection"
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"label": "t:sections.collection--featured-collection.settings.show_view_all.label",
			"default": false
		}
	],
	"blocks": [
		{
			"type": "product_card_image",
			"name": "t:all.Product_image",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:all.To_change_your_product_image_size_go_to_Theme_settings__Product_card__Grid_image_size"
				},
				{
					"type": "header",
					"content": "t:all.Quick_shop_button"
				},
				{
					"type": "checkbox",
					"id": "enable_quick_shop",
					"label": "t:all.Enable",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "disable_quick_shop_mobile",
					"label": "t:all.Disable_on_mobile",
					"default": true
				},
				{
					"type": "paragraph",
					"content": "t:all.Quick_shop_button_will_show_as_icon_on_smaller_screens"
				}
			]
		},
		{
			"type": "product_card_title",
			"name": "t:all.Title",
			"limit": 1,
			"settings": [
				{
					"type": "radio",
					"id": "product_card_title__font",
					"label": "t:all.Font",
					"options": [
						{
							"value": "heading",
							"label": "t:all.Heading"
						},
						{
							"value": "body",
							"label": "t:all.Body"
						}
					],
					"default": "body"
				}
			]
		},
		{
			"type": "product_card_price",
			"name": "t:all.Price",
			"limit": 1,
			"settings": [
				{
					"type": "radio",
					"id": "product_card_price__font",
					"label": "t:all.Font",
					"options": [
						{
							"value": "heading",
							"label": "t:all.Heading"
						},
						{
							"value": "body",
							"label": "t:all.Body"
						}
					],
					"default": "body"
				}
			]
		},
		{
			"type": "product_card_vendor",
			"name": "t:all.Product_vendor",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:all.This_is_used_to_set_the_order_and_placement_of_the_product_vendor_within_the_product_cards_in_your_collection_product_list_"
				},
				{
					"type": "radio",
					"id": "product_card_vendor__font",
					"label": "t:all.Font",
					"options": [
						{
							"value": "heading",
							"label": "t:all.Heading"
						},
						{
							"value": "body",
							"label": "t:all.Body"
						}
					],
					"default": "body"
				}
			]
		},
		{
			"type": "product_card_swatches",
			"name": "Color swatches",
			"limit": 1,
			"settings": [
			  {
				"type": "paragraph",
				"content": "To show color swatches you must have a variant option name of one of the following: color, colour, couleur, color, farbe, 색 ,色 ,färg ,farve. You may need to upload custom swatch images. [Learn more](https://support.eightthemes.com/hc/en-us/articles/360020105257-How-to-Upload-Color-Swatches)"
			  },
			  {
				"type": "checkbox",
				"id": "show_color_label",
				"label": "Show color label",
				"default": true
			  }        
			]
		},
		{
			"type": "product_card_quick_shop",
			"name": "t:sections.collection--featured-collection.blocks.product_card_quick_shop.name",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:sections.collection--featured-collection.blocks.product_card_quick_shop.settings.paragraph-0.content"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.collection--featured-collection.presets.name",
			"category": {
				"en": "Collection",
				"de": "Kollektion",
				"es": "Colección",
				"fr": "Collection",
				"pt-PT": "Coleção"
			},
			"blocks": [
				{
					"type": "product_card_image",
					"settings": {}
				},
				{
					"type": "product_card_title",
					"settings": {}
				},
				{
					"type": "product_card_price",
					"settings": {}
				},
				{
					"type": "product_card_quick_shop",
					"settings": {}
				}
			]
		}
	],
	"enabled_on": {
		"templates": [
			"404",
			"article",
			"blog",
			"cart",
			"list-collections",
			"index",
			"page",
			"password",
			"product",
			"search"
		]
	}
}
{% endschema %}
