{{ 'event--hero-banner.css' | asset_url | stylesheet_tag }}

<section class="event-hero-banner">
  <div class="event-hero-banner__video__container">
    {{ section.settings.video_recap | video_tag: autoplay: true, loop: true, muted: true, playsinline: true }}
  </div>
  <div class="event-hero-container">
    <div class="event-hero-banner__content">
      <h2 class="event-hero-banner__content__title">{{ section.settings.title }}</h2>
      <p class="event-hero-banner__content__description">{{ section.settings.description }}</p>
    </div>
    <div class="event-highlights__container event-highlights__splide splide">
      <div class="splide__track">
        <div class="splide__list">
          {% for block in section.blocks %}
            <div class="event-highlights splide__slide">
              <div class="event-highlights__media">
                {% if block.settings.video %}
                  {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, playsinline: true }}
                {% endif %}
                {% if block.settings.image %}
                  {{
                    block.settings.image
                    | image_url: width: 2000, height: 2000
                    | image_tag: alt: block.settings.image.alt
                    | escape
                  }}
                {% endif %}
              </div>
              <div class="event-highlights__content">
                <h2 class="event-highlights__content__title">
                  {{ block.settings.title | remove: '<p>' | remove: '</p>' }}
                </h2>
                <p class="event-highlights__content__description">
                  {{ block.settings.description | remove: '<p>' | remove: '</p>' }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const setupSplide = () => {
      new Splide('.event-highlights__splide', {
        type: 'loop',
        perPage: 1,
        perMove: 1,
        pagination: false,
        arrows: false,
        gap: '8px',
        mediaQuery: 'min',
        padding: { left: 0, right: '20%' },
        arrowPath:
          'M 39.511719 19.195312 L 24.511719 34.382812 C 24.199219 34.699219 23.773438 34.875 23.332031 34.875 C 22.890625 34.875 22.464844 34.699219 22.152344 34.382812 C 21.839844 34.066406 21.664062 33.636719 21.664062 33.1875 C 21.664062 32.738281 21.839844 32.308594 22.152344 31.992188 L 34.308594 19.6875 L 1.667969 19.6875 C 1.222656 19.6875 0.800781 19.511719 0.488281 19.191406 C 0.175781 18.875 0 18.449219 0 18 C 0 17.550781 0.175781 17.125 0.488281 16.808594 C 0.800781 16.492188 1.222656 16.3125 1.667969 16.3125 L 34.308594 16.3125 L 22.152344 4.007812 C 21.839844 3.691406 21.664062 3.261719 21.664062 2.8125 C 21.664062 2.363281 21.839844 1.933594 22.152344 1.617188 C 22.464844 1.300781 22.890625 1.125 23.332031 1.125 C 23.773438 1.125 24.199219 1.300781 24.511719 1.617188 L 39.511719 16.804688 C 39.667969 16.964844 39.789062 17.148438 39.875 17.355469 C 39.957031 17.558594 40 17.777344 40 18 C 40 18.222656 39.957031 18.441406 39.875 18.644531 C 39.789062 18.851562 39.667969 19.039062 39.511719 19.195312 Z M 39.511719 19.195312',
        breakpoints: {
          768: {
            perPage: 2,
          },
          1280: {
            perPage: 3,
            padding: { left: 0, right: 0 },
            arrows: true,
          },
        },
      }).mount();
    };

    setupSplide();
  });
</script>

{% schema %}
{
  "name": "Event Hero Banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "UE x Sneakercon - Hawaii 2024"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "With each event, our goal is the inspire change, spread joy, and cultivate a lasting impression of positivity for event attendees. Feel free to join our Instagram and Facebook community to get the most updated news on when we attend events or host giveaways! We look forward to connecting with you and making every moment special"
    },
    {
      "type": "video",
      "id": "video_recap",
      "label": "Video Recap"
    }
  ],
  "blocks": [
    {
      "type": "event_highlights",
      "name": "Event Highlights",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
