{{ 'event--photo-gallery.css' | asset_url | stylesheet_tag }}

<section class="event-photo-gallery">
  <event-photo-gallery
    class="container"
    data-initial-photos="{{ section.settings.initial_photos }}"
    data-additional-photos="{{ section.settings.additional_photos }}"
    data-total-photo-in-gallery="{{ section.blocks.size }}"
  >
    <h2>{{ section.settings.title }}</h2>
    <div class="photo-gallery">
      {% for photo in section.blocks %}
        <a
          href="{{ photo.settings.image.src | image_url }}"
          class="photo-gallery__photo-item{% if forloop.index0 < section.settings.initial_photos %} visible{% else %} hidden{% endif %}"
          target="_blank"
          data-pswp-width="{{ photo.settings.image.width }}"
          data-pswp-height="{{ photo.settings.image.height }}"
        >
          {{ photo.settings.image | image_url: width: 1000, height: 1000 | image_tag: alt: photo.settings.image.alt }}
        </a>
      {% endfor %}
    </div>
    <div class="photo-gallery__buttons">
      <button id="view-more-btn" class="photo-gallery__view-more">View More</button>
      <button id="show-less-btn" style="display: none;">Show Less</button>
    </div>
  </event-photo-gallery>
</section>

<script src="{{ 'event--photo-gallery.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Event Photo Gallery",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Gallery Title",
      "default": "Photo gallery"
    },
    {
      "type": "range",
      "id": "initial_photos",
      "label": "Initial Photos to Display",
      "default": 4,
      "min": 1,
      "max": 20,
      "step": 1
    },
    {
      "type": "range",
      "id": "additional_photos",
      "label": "Additional Photos to Display",
      "default": 4,
      "min": 1,
      "max": 20,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "photo",
      "name": "Photo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Photo"
        }
      ]
    }
  ]
}
{% endschema %}
