{% assign footer_item_width = '' %}
{% case section.blocks.size %}
{% when 1 %}
	{% assign footer_item_width = 'large--one-whole medium--one-whole small--one-whole' %}
{% when 2 %}
	{% assign footer_item_width = 'large--one-half medium--one-half small--one-whole' %}
{% when 3 %}
	{% assign footer_item_width = 'large--one-third medium--one-half small--one-whole' %}
{% when 4 %}
	{% assign footer_item_width = 'large--one-quarter medium--one-half small--one-whole' %}
{% endcase %}

<footer
  class="footer-main site-footer{% if template contains 'product' %}{% if settings.related_products_enable %}{% else %} product-sticker-stop{% endif %}{% endif %} footer-alignment--{{ section.settings.alignment }}"
  data-wetheme-section-type="footer-main" data-wetheme-section-id="{{ section.id }}"
>
	<div class="wrapper-padded">
		<div class="grid">

			{% for block in section.blocks %}

				{% case block.type %}

				{% when 'social' %}

                    <div class="grid__item {{ footer_item_width }} social-media-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.social_title == "" %}
                            <div class="h3 footer-header">{{ block.settings.social_title | escape }}</div>
                        {% endunless %}
                        {% render 'social-icons' %}
                    </div>

			    {% when 'menu' %}


                    {% assign menu = linklists[block.settings.footer_linklist] %}
                    <div class="grid__item {{ footer_item_width }} links-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.menu_title == "" %}
                            <div class="h3 footer-header">{{ block.settings.menu_title | escape }}</div>
                        {% endunless %}
                        {% if menu.links.size > 0 %}
                            <ul class="footer-content nav-link-animated--custom">
                                {% for link in menu.links %}
                                    {% if link.links != blank %}
                                        <li>
                                            <a href="{{ link.url }}" class="footer--has-dropdown-title animated-link--item">{{ link.title }}</a>
                                            <ul class="footer--level-2">
                                                {% for sub_link in link.links %}
                                                        <li><a class="animated-link--item" href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="animated-link--item" href="{{ link.url }}">{{ link.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

				{% when 'text' %}

                    <div class="grid__item {{ footer_item_width }} content-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.title == "" %}
                            <div class="h3 footer-header">{{ block.settings.title | escape }}</div>
                        {% endunless %}
                        {% unless block.settings.title == "" %}
                            <div class="rte footer-article footer-link-animated">{{ block.settings.richtext }}</div>
                        {% endunless %}
                    </div>

                {% when 'follow_on_shop' %}

                    <div class="grid__item {{ footer_item_width }} content-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.title == "" %}
                            <div class="h3 footer-header">{{ block.settings.title | escape }}</div>
                        {% endunless %}
                        {% if shop.features.follow_on_shop? %}
                            {{ shop | login_button: action: 'follow' }}
                        {% endif %}
                    </div>

				{% when 'image' %}

					<div class="grid__item {{ footer_item_width }} image-footer" {{ block.shopify_attributes }}>
                    {% if block.settings.image != blank %}
				      {%- assign img_url = block.settings.image | img_url: '600x' -%}
                        {% if block.settings.image.alt != empty %}
                            {% capture footer_alt %}{{ block.settings.image.alt }}{% endcapture %}
                        {% else %}
                            {% if block.settings.title != empty %}
                                {% capture footer_alt %}{{ block.settings.title }}{% endcapture %}
                            {% else %}
                                {% capture footer_alt %}{{ shop.name }}{% endcapture %}
                            {% endif %}
                        {% endif %}
				    {% else %}
				      {%- assign img_url = '' -%}
				    {% endif %}
				    {% if block.settings.link != blank and img_url != blank %}
				      <a href="{{ block.settings.link }}">
				    {% elsif img_url != blank %}
				      <div class="image-bar__item">
				    {% else %}
				      <div class="image-bar__item">
				    {% endif %}
				    <div class="image-bar__content">
				      {% if img_url == blank %}
				          {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
				      {% else %}
						{% render 'responsive-image' with block.settings.image, alt: footer_alt | escape %}
				      {% endif %}
				    </div>
				    {% if block.settings.link != blank and img_url != blank %}
				      </a>
				    {% else %}
				      </div>
				    {% endif %}

				    {% unless block.settings.title == "" %}
				      <h3 class="image-bar--title">{{ block.settings.title }}</h3>
                    {% endunless %}
					</div>

				{% when 'newsletter' %}

					<div class="grid__item {{ footer_item_width }} newsletter-footer" {{ block.shopify_attributes }}>
						{% unless block.settings.newsletter_title == "" %}
							<div class="h3 footer-header">{{ block.settings.newsletter_title | escape }}</div>
                        {% endunless %}
						{% if block.settings.footer_newsletter_description != empty %}
                            <div class="rte footer-article footer-link-animated">{{ block.settings.footer_newsletter_description }}</div>
						{% endif %}
						{% form 'customer', id: 'newsletter-footer_form' %}
							{{ form.errors | default_errors }}

							{% if form.posted_successfully? %}
								<p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
							{% else %}
								<div class="input-group">
                                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field footer-email-input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                    <input type="hidden" name="contact[tags]" value="newsletter">
                                    <span>
                                        <input type="submit" class="btn footer-email-submit" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                                    </span>
								</div>
							{% endif %}
						{% endform %}
					</div>
			{% endcase %}
            {% endfor %}

        </div>
    </div>
</footer>

{% schema %}
{
	"name": "t:sections.footer-main.name",
	"max_blocks": 4,
	"settings": [
		{
			"type": "select",
			"id": "alignment",
			"label": "t:sections.footer-main.settings.alignment.label",
			"options": [
				{
					"value": "left",
					"label": "t:all.Left"
				},
				{
					"value": "center",
					"label": "t:all.Center"
				}
			],
			"default": "left"
		}
	],
	"blocks": [
		{
			"type": "text",
			"name": "t:all.Text",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "t:all.Heading",
					"default": "Text details"
				},
				{
					"type": "richtext",
					"id": "richtext",
					"label": "t:all.Text",
					"default": "<p>Create a captivating brand story, explain details of your products or highlight store promotions</p>"
				}
			]
		},
		{
			"type": "menu",
			"name": "t:all.Navigation",
			"settings": [
				{
					"type": "text",
					"id": "menu_title",
					"label": "t:all.Heading",
					"default": "Quick links"
				},
				{
					"type": "link_list",
					"id": "footer_linklist",
					"label": "t:sections.footer-main.blocks.menu.settings.footer_linklist.label",
					"default": "footer",
					"info": "t:sections.footer-main.blocks.menu.settings.footer_linklist.info"
				}
			]
		},
		{
			"type": "newsletter",
			"name": "t:all.Newsletter",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "newsletter_title",
					"label": "t:all.Heading",
					"default": "Newsletter"
				},
				{
					"type": "richtext",
					"id": "footer_newsletter_description",
					"label": "t:sections.footer-main.blocks.newsletter.settings.footer_newsletter_description.label"
				}
			]
		},
		{
			"type": "social",
			"name": "t:sections.footer-main.blocks.social.name",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "social_title",
					"label": "t:all.Heading",
					"default": "Get connected"
				},
				{
					"type": "paragraph",
					"content": "t:sections.footer-main.blocks.social.settings.paragraph-1.content"
				}
			]
		},
		{
			"type": "image",
			"name": "t:all.Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:all.Image"
				},
				{
					"type": "url",
					"id": "link",
					"label": "t:all.Link",
					"info": "t:all.Optional"
				},
				{
					"type": "text",
					"id": "title",
					"label": "t:all.Title",
					"info": "t:all.Optional"
				}
			]
		},
		{
			"type": "follow_on_shop",
			"name": "t:sections.footer-main.blocks.follow_on_shop.name",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:sections.footer-main.blocks.follow_on_shop.settings.paragraph-0.content"
				},
				{
					"type": "text",
					"id": "title",
					"label": "t:all.Heading",
					"default": "Follow us on the Shop app"
				}
			]
		}
	]
}
{% endschema %}
