{{ 'footer-main.css' | asset_url | stylesheet_tag }}

<footer id="footer-section">
  <div class="footer-section-container">
    <div class="footer-section-wrapper">
      <div class="footer-section social-media-wrapper">
        <h3>Follow us on</h3>
        {% assign social_media_links = section.blocks | where: 'type', 'social-media' %}

        <ul>
          {% for link in social_media_links %}
            <li>
              <a
                href="{{ link.settings.link }}"
                {% if link.settings.is_open_in_new_tab %}
                  target="_blank"
                {% endif %}
              >
                {{ link.settings.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-section newsletter-wrapper ">
        <h3>Subscribe to Our Newsletter</h3>
        <div class="submit-newsletter-wrapper">
          <input class="w-full submit-newsletter" placeholder="Your Email">
          <span class="submit-btn">Subscribe</span>
        </div>
      </div>
      <div class="footer-section policy-wrapper">
        <h3>Navigation</h3>
        {% assign navigation_links = section.blocks | where: 'type', 'navigation' %}

        <ul>
          {% for link in navigation_links %}
            <li>
              <a
                href="{{ link.settings.link }}"
                {% if link.settings.is_open_in_new_tab %}
                  target="_blank"
                {% endif %}
              >
                {{ link.settings.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% if template contains 'index' %}
    <div class="image-with-text">
      <div
        class="image-background"
        style="background-image: url('{{ section.settings.footer_background_text_image_mobile | image_url: width: 1393  }}');"
      >
        <h2>
          {% comment %} {{ section.settings.footer_background_text }} {% endcomment %}
          <span class="text-span">
            <span>U</span>
            <span>P</span>
            <span>P</span>
            <span>E</span>
            <span>R</span>
          </span>
          <span class="text-span">
            <span>E</span>
            <span>M</span>
            <span>P</span>
            <span>I</span>
            <span>R</span>
            <span>E</span>
          </span>
        </h2>
      </div>
    </div>

    <div class="image-with-mask">
      {{ section.settings.footer_background_mask | image_url: width: 3000 | image_tag: class: 'image_mask' }}
      {{
        section.settings.footer_background_text_image
        | image_url: width: 3000
        | image_tag: class: 'image_background parallax-image'
      }}
    </div>
  {% endif %}
</footer>

{% if template contains 'index' %}
  <script src="{{ 'footer-main.js' |  asset_url }}" defer></script>
{% endif %}

{% schema %}
{
  "name": "Footer Main",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_background_text_image",
      "label": "Footer Background Text Image"
    },
    {
      "type": "image_picker",
      "id": "footer_background_text_image_mobile",
      "label": "Footer Background Text - Image Mobile"
    },
    {
      "type": "image_picker",
      "id": "footer_background_mask",
      "label": "Footer Image Mask"
    },
    {
      "type": "text",
      "id": "footer_background_text",
      "label": "Footer Background Text",
      "default": "Upper empire"
    }
  ],
  "blocks": [
    {
      "name": "Social Media",
      "type": "social-media",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Homepage"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link",
          "default": "https://upperempire.com"
        },
        {
          "type": "checkbox",
          "id": "is_open_in_new_tab",
          "label": "Is open in new tab",
          "default": true
        }
      ]
    },
    {
      "name": "Navigation",
      "type": "navigation",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Homepage"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link",
          "default": "https://upperempire.com"
        },
        {
          "type": "checkbox",
          "id": "is_open_in_new_tab",
          "label": "Is open in new tab",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
