{% if section.settings.center_content_on_desktop %}
    {% assign alignment = 'center' %}
{% else %}
    {% assign alignment = 'left' %}
{% endif %}

<div
  class="footer-bottom site-footer{% if template contains 'product' %}{% if settings.related_products_enable %}{% else %} product-sticker-stop{% endif %}{% endif %} footer-alignment--{{ alignment }}"
  data-wetheme-section-type="footer-bottom" data-wetheme-section-id="{{ section.id }}"
>
	<div class="wrapper-padded">
        <div class="bottom--footer">

        {% if section.settings.footer_text != blank %}
            <div class="footer-description footer-description--{{ alignment }} footer-article footer-link-animated">
            {{ section.settings.footer_text }}
            </div>
        {% endif %}

        <div class="bottom--footer-row{% if section.settings.show_methods_of_payment %} bottom--footer--payment-methods{% endif %}">
            <div class="bottom--footer---localization">
                {% if section.settings.show_locale_selector == true or section.settings.show_currency_selector == true %}
                    <div class="localization-form-wrapper">
                        {% render 'localization-form', show_locale_selector: section.settings.show_locale_selector, show_currency_selector: section.settings.show_currency_selector %}
                    </div>
                {% endif %}
                {% if alignment == 'left' %}
                    <div class="bottom--footer---copyright copyright--desktop">
                        <ul class="bottom--footer---links nav-link-animated--custom">
                            <li><a class="animated-link--item" href="{{ routes.root_url }}">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}</a></li><!--
                            --><li>{{ powered_by_link | replace: '<a', '<a class="animated-link--item"' }}</li>
                        </ul>
                    </div>
                {% endif %}
            </div>

            {% if section.settings.show_methods_of_payment %}
                {%- assign enabled_payment_types = shop.enabled_payment_types -%}
                {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,stripe,visa' | split: ',' -%}

                {% comment %}
                Uncomment next line to show all icons
                {%- assign enabled_payment_types = payment_icons_available -%}
                {% endcomment %}

                {% unless enabled_payment_types == empty %}
                <ul class="inline-list payment-icons">
                    {% for type in shop.enabled_payment_types %}
                    {{ type | payment_type_svg_tag: class:'payment-icon' }}
                    {% endfor %}
                </ul>
                {% endunless %}
            {% endif %}

        </div>
        <div class="bottom--footer---copyright copyright--mobile">
            <ul class="bottom--footer---links nav-link-animated--custom">
                <li><a class="animated-link--item" href="{{ routes.root_url }}">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}</a></li><!--
                --><li>{{ powered_by_link | replace: '<a', '<a class="animated-link--item"' }}</li>
            </ul>
        </div>
        </div>
    </div>
</div>

{% schema %}
{
	"name": "t:sections.footer-bottom.name",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_methods_of_payment",
			"label": "t:sections.footer-bottom.settings.show_methods_of_payment.label"
		},
		{
			"type": "checkbox",
			"id": "center_content_on_desktop",
			"label": "t:sections.footer-bottom.settings.center_content_on_desktop.label",
			"default": false
		},
		{
			"type": "richtext",
			"id": "footer_text",
			"label": "t:all.Footer_text"
		},
		{
			"type": "header",
			"content": "t:all.Country_region_selector",
			"info": "t:all.To_add_a_country_region_go_to_your_market_settings__admin_settings_markets"
		},
		{
			"type": "checkbox",
			"id": "show_currency_selector",
			"label": "t:all.Enable_country_region_selector",
			"default": true
		},
		{
			"type": "header",
			"content": "t:all.Language_selector",
			"info": "t:all.To_add_a_language_go_to_your_language_settings__admin_settings_languages"
		},
		{
			"type": "checkbox",
			"id": "show_locale_selector",
			"label": "t:all.Enable_language_selector",
			"default": true
		}
	]
}
{% endschema %}
