{{ 'product-grid-slide.css' | asset_url | stylesheet_tag }}

<section id="product-grid-slide">
  <div class="product-grid-container">
    <div class="product-grid-wrapper">
      <div class="product-grid-title">
        <h2>{{ section.settings.section_title }}</h2>
      </div>
      <div class="splide">
        <div class="product-grid splide__track">
          <ul class="splide__list">
            {% for product in section.settings.product_list %}
              <a href="{{ product.url }}" class="splide__slide">
                <div class="product-grid-item">
                  <div class="product-image">
                    <div class="product-image--default">
                      {% render 'responsive-image' with product.featured_image,
                        alt: product.featured_image.alt,
                        class: 'product-image'
                      %}
                    </div>
                    <div class="product-image--hover">
                      {% render 'responsive-image' with product.images[1],
                        alt: product.featured_image.alt,
                        class: 'product-image'
                      %}
                    </div>
                  </div>
                  <div class="product-info">
                    <div class="product-description">
                      <p class="product-title">{{ product.title }}</p>
                      <p class="product-price">{{ product.price | money }}</p>
                    </div>
                    <div class="product-variants">
                      {% for variant in product.variants %}
                        <span
                          class="product-variants-title"
                          data-variant-url="{{ variant.url }}"
                          data-variant-id="{{ variant.id }}"
                        >
                          {{- variant.title -}}
                        </span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="section-redirect-url">
        <a href="{{ section.settings.section_url }}" class="section-redirect-button">
          {{- section.settings.redirect_label -}}
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('.splide', {
      perPage: 1,
      perMove: 1,
      mediaQuery: 'min',
      arrows: false,
      pagination: false,
      gap: 8,
      padding: { left: 0, right: '5%' },
      arrowPath:
        'M 39.511719 19.195312 L 24.511719 34.382812 C 24.199219 34.699219 23.773438 34.875 23.332031 34.875 C 22.890625 34.875 22.464844 34.699219 22.152344 34.382812 C 21.839844 34.066406 21.664062 33.636719 21.664062 33.1875 C 21.664062 32.738281 21.839844 32.308594 22.152344 31.992188 L 34.308594 19.6875 L 1.667969 19.6875 C 1.222656 19.6875 0.800781 19.511719 0.488281 19.191406 C 0.175781 18.875 0 18.449219 0 18 C 0 17.550781 0.175781 17.125 0.488281 16.808594 C 0.800781 16.492188 1.222656 16.3125 1.667969 16.3125 L 34.308594 16.3125 L 22.152344 4.007812 C 21.839844 3.691406 21.664062 3.261719 21.664062 2.8125 C 21.664062 2.363281 21.839844 1.933594 22.152344 1.617188 C 22.464844 1.300781 22.890625 1.125 23.332031 1.125 C 23.773438 1.125 24.199219 1.300781 24.511719 1.617188 L 39.511719 16.804688 C 39.667969 16.964844 39.789062 17.148438 39.875 17.355469 C 39.957031 17.558594 40 17.777344 40 18 C 40 18.222656 39.957031 18.441406 39.875 18.644531 C 39.789062 18.851562 39.667969 19.039062 39.511719 19.195312 Z M 39.511719 19.195312',
      breakpoints: {
        768: {
          perPage: 2,
          arrows: true,
          padding: { left: 0, right: 0 },
        },
        1280: {
          perPage: 3,
        },
      },
    });
    splide.mount();

    document.querySelectorAll('.product-variants-title').forEach(function (element) {
      element.addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = element.getAttribute('data-variant-url');
      });
    });
  });
</script>

{% schema %}
{
  "name": "Product Grid Slide",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "New Arrivals"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product List",
      "limit": 10
    },
    {
      "type": "page",
      "id": "section_url",
      "label": "Section Url"
    },
    {
      "type": "text",
      "id": "redirect_label",
      "label": "Redirect Button Label"
    }
  ]
}
{% endschema %}
