<link rel="preload" href="{{ 'section-recently-viewed.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>{{ 'section-recently-viewed.min.css' | asset_url | stylesheet_tag }}</noscript>

{% comment %} Construct product card layout {% endcomment %}
{%- capture product_card_blocks -%}
  {%- for block in section.blocks -%}
    {%- if block.type contains "product_card_" -%}
      {{ block.type }},
    {%- endif -%}
    {%- if block.type == "product_card_image" -%}
      {% assign quick_shop_desktop_enabled = block.settings.enable_quick_shop %}
      {% assign quick_shop_mobile_enabled = block.settings.disable_quick_shop_mobile %}
    {%- endif -%}
    {%- if block.type == "product_card_title" -%}
      {%- capture product_card_title_styles -%}
        <style>
          {% if block.settings.product_card_title__font == 'heading' %}
            [data-wetheme-section-id="{{ section.id }}"] .product-grid--title * {
              font-family: var(--header-font-stack);
              letter-spacing: var(--heading-spacing);
              text-transform: var(--heading-font-case);
              font-weight: var(--header-font-weight);
              font-style: var(--header-font-style);
            }
          {% endif %}
        </style>
      {%- endcapture -%}
    {%- endif -%}
    {%- if block.type == "product_card_price" -%}
      {%- capture product_card_price_styles -%}
        <style>
          {% if block.settings.product_card_price__font == 'heading' %}
            [data-wetheme-section-id="{{ section.id }}"] .product-grid--price * {
              font-family: var(--header-font-stack);
              letter-spacing: var(--heading-spacing);
              text-transform: var(--heading-font-case);
              font-weight: var(--header-font-weight);
              font-style: var(--header-font-style);
            }
          {% endif %}
        </style>
      {%- endcapture -%}
    {%- endif -%}
    {%- if block.type == "product_card_vendor" -%}
      {%- if block.settings.product_card_vendor__font == "heading" -%}
        {%- capture product_card_vendor_font_styles -%}
          <style>
            #shopify-section-{{ section.id }} .product-grid--vendor {
              font-family: var(--header-font-stack);
              letter-spacing: var(--heading-spacing);
              text-transform: var(--heading-font-case);
              font-weight: var(--header-font-weight);
              font-style: var(--header-font-style);
            }
          </style>
        {%- endcapture -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

<div class="wrapper-padded">
  <div
    class="recently-viewed-products clearfix collection"
    data-product-handle="{{ product.handle }}"
    data-blocks="{{ product_card_blocks }}"
    data-product-url="{% if routes.root_url != '/' %}{{ routes.root_url }}{% endif %}/products/PLACEHOLDER/?view=recently-used-grid"
    data-wetheme-section-type="template--product--recently-viewed"
    data-wetheme-section-id="{{ section.id }}"
    data-quick-shop-desktop-enabled="{{ quick_shop_desktop_enabled }}"
    data-quick-shop-mobile-disabled="{{ quick_shop_mobile_enabled }}"
    style="display: none"
  >
    <div class="wrapper" role="main">
      {% unless section.settings.recently_viewed_title == blank %}
        <div class="sitewide--title-wrapper">
          <h2 class="page--title">{{ section.settings.recently_viewed_title }}</h2>
        </div>
      {% endunless %}
      {{ product_card_title_styles }}
      {{ product_card_price_styles }}
      {{ product_card_vendor_font_styles }}
      <div class="swiper-container">
        <div class="swiper-wrapper" id="recently-viewed-products"></div>
      </div>
      <div class="swiper-button--prev">
        {% render 'theme-icon', icon: 'chevron_left' %}
      </div>
      <div class="swiper-button--next">
        {% render 'theme-icon', icon: 'chevron_right' %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
	"name": "t:sections.template--product--recently-viewed.name",
	"settings": [
		{
			"type": "text",
			"id": "recently_viewed_title",
			"label": "t:all.Heading",
			"default": "Recently viewed products"
		}
	],
	"blocks": [
		{
			"type": "product_card_image",
			"name": "t:all.Product_image",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:all.To_change_your_product_image_size_go_to_Theme_settings__Product_card__Grid_image_size"
				},
				{
					"type": "header",
					"content": "t:all.Quick_shop_button"
				},
				{
					"type": "checkbox",
					"id": "enable_quick_shop",
					"label": "t:all.Enable",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "disable_quick_shop_mobile",
					"label": "t:all.Disable_on_mobile",
					"default": true
				},
				{
					"type": "paragraph",
					"content": "t:all.Quick_shop_button_will_show_as_icon_on_smaller_screens"
				}
			]
		},
		{
			"type": "product_card_title",
			"name": "t:all.Title",
			"limit": 1,
			"settings": [
				{
					"type": "radio",
					"id": "product_card_title__font",
					"label": "t:all.Font",
					"options": [
						{
							"value": "heading",
							"label": "t:all.Heading"
						},
						{
							"value": "body",
							"label": "t:all.Body"
						}
					],
					"default": "body"
				}
			]
		},
		{
			"type": "product_card_price",
			"name": "t:all.Price",
			"limit": 1,
			"settings": [
				{
					"type": "radio",
					"id": "product_card_price__font",
					"label": "t:all.Font",
					"options": [
						{
							"value": "heading",
							"label": "t:all.Heading"
						},
						{
							"value": "body",
							"label": "t:all.Body"
						}
					],
					"default": "body"
				}
			]
		},
		{
			"type": "product_card_vendor",
			"name": "t:all.Product_vendor",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:all.This_is_used_to_set_the_order_and_placement_of_the_product_vendor_within_the_product_cards_in_your_collection_product_list_"
				},
				{
					"type": "radio",
					"id": "product_card_vendor__font",
					"label": "t:all.Font",
					"options": [
						{
							"value": "heading",
							"label": "t:all.Heading"
						},
						{
							"value": "body",
							"label": "t:all.Body"
						}
					],
					"default": "body"
				}
			]
		},
		{
			"type": "product_card_swatches",
			"name": "Color swatches",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "To show color swatches you must have a variant option name of one of the following: color, colour, couleur, color, farbe, 색 ,色 ,färg ,farve. You may need to upload custom swatch images. [Learn more](https://support.eightthemes.com/hc/en-us/articles/360020105257-How-to-Upload-Color-Swatches)"
				},
				{
					"type": "checkbox",
					"id": "show_color_label",
					"label": "Show color label",
					"default": true
				}        
			]
		},
		{
			"type": "product_card_quick_shop",
			"name": "t:sections.template--product--recently-viewed.blocks.product_card_quick_shop.name",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:sections.template--product--recently-viewed.blocks.product_card_quick_shop.settings.paragraph-0.content"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.template--product--recently-viewed.presets.name",
			"category": {
				"en": "Products",
				"de": "Produkte",
				"es": "Productos",
				"fr": "Produits",
				"pt-PT": "Produtos"
			},
			"settings": {
				"recently_viewed_title": "Recently viewed products"
			},
			"blocks": [
				{
					"type": "product_card_image",
					"settings": {}
				},
				{
					"type": "product_card_title",
					"settings": {}
				},
				{
					"type": "product_card_price",
					"settings": {}
				},
				{
					"type": "product_card_vendor",
					"settings": {}
				},
				{
					"type": "product_card_quick_shop",
					"settings": {}
				}
			]
		}
	],
	"enabled_on": {
		"templates": [
			"product"
		]
	}
}
{% endschema %}
