{% style %}
:root {
  --password-text-color: {{ section.settings.password__text-color }};
  --password-border-color: {{ section.settings.password__text-color | color_modify: 'alpha', 0.5 }};
  --password-footer-text-color: {{ section.settings.password__footer-color }};
  --password-footer-border-color: {{ section.settings.password__footer-color | color_modify: 'alpha', 0.5 }};
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: var(--body-color);
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--body-color);
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

body,
.site-header,
.password--store-owner a {
  color: {{ section.settings.password__text-color }};
}

.password--wrapper {
  height: 100vh;
}

a,
.site-header--inner {
  color: {{ section.settings.password__text-color }};
}

.password--main,
.site-header {
  background-color: {{ section.settings.password__background-color }};
}

.password--main,
input#email,
input#email::placeholder,
#sm-icons a {
  color: {{ section.settings.password__text-color }};
}

input#email,
input#password {
  color: {{ section.settings.password__text-color }};
  border: none;
  border-bottom: 1px solid {{ section.settings.password__text-color }};
  transition: border 0.15s ease-in-out;
}

/* Reset default focus state when using mouse */
input#email:focus-visible, 
input#password:focus-visible {
  outline-width: 0;
}

input#email:focus, 
input#password:focus {
  border: 0;
  border-bottom: 1px solid {{ section.settings.password__text-color }};
}

/* Add focus styles when text input is focused via keyboard */
.using-keyboard input#email:focus, 
.using-keyboard input#password:focus {
  box-shadow: inset 2px 0 0 0 {{ section.settings.password__text-color }}, 
              inset 0 2px 0 0px {{ section.settings.password__text-color }}, 
              inset -2px 0 0 0px {{ section.settings.password__text-color }}, 
              inset 0 -1px 0 0px {{ section.settings.password__text-color }};
}

.password--enter-label + .input-group {
  margin-top: 30px;
}

input.btn {
  color: {{ section.settings.password-button__text-color }};
  background: {{ section.settings.password-button__background-color }};
  border: 1px solid {{ section.settings.password-button__background-color }};
}

.password--logo img{
  width: {{ section.settings.logo_max_width }}px;
}

.powered,
.powered a,
.password-show {
	color: {{ section.settings.password__footer-color }};
}

{% if section.settings.password__background %}
  {% render 'responsive-background-image' with section.settings.password__background, selector: '.password--container' %}
  .password--container {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
  }

  .background-overlay{
    background-color: rgba(0, 0, 0, 0.{{ section.settings.password__background_overlay_opacity }});
  }
{% else %}
.password--container {
    background-image: url({{ 'password-default-image.jpg' | asset_url }});
    background-size: cover;
    background-position: center;
    background-attachment: fixed
  }
  .background-overlay{
      background-color: rgba(0, 0, 0, 0.{{ section.settings.password__background_overlay_opacity }});
  }
{% endif %}
{% endstyle %}

<header class="site-header" style="display: none;">
	<div class="site-header--inner" role="dialog" aria-modal="true" aria-label="Enter store using password">
		{% form 'storefront_password' %}
			{{ form.errors | default_errors }}
			<div class="form-group">
			<label for="password" class="password--enter-label">{{ 'coming_soon.general.password' | t }}</label>
			<div class="input-group">
			<input type="password" name="password" id="password" class="form-control password--input" />
			<span class="input-group-btn"><input class="btn btn-default" name="commit" type="submit" value="{{ 'coming_soon.general.continue' | t }}" /></span>
			</div>
			</div>
		{% endform %}
		<p class="password--store-owner-links text-link-animated">{{ 'coming_soon.general.store_owner' | t }} {{ 'coming_soon.general.store_owner_html' | t }}</p>
		<div><a tabindex="0" class="password--close" href="#">{% render 'theme-icon' with icon: 'close', iconSize: 20 %}</a></div>
	</div>
</header>

<div id="password-wrapper--main" class="password--wrapper">

  <div class="password--main-container">
	<section class="password--main">

		<div class="password--logo">
      {% if section.settings.logo %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
          srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          itemprop="logo"
          loading="lazy">
      {% else %}
        {{ shop.name | escape }}
      {% endif %}
		</div>

    {% if section.settings.password__header-text != blank %}
      <h1 class="custom-font">{{ section.settings.password__header-text }}</h1>
    {% endif %}

		{% if shop.password_message and shop.password_message != '' %}
			<div class="password--welcome-message text-link-animated">
				<p>{{ shop.password_message }}</p>
			</div>
		{% endif %}

    {% if section.settings.newsletter_enable %}

		<div class="password--mailing-list">
			{% form 'customer' %}
				{{ form.errors | default_errors }}
				{% if form.posted_successfully? %}
					<div class="alert alert-success" role="alert">
						{{ 'coming_soon.general.thanks_mailing' | t }}
					</div>
				{% else %}
				<div class="form-group">
          {% if section.settings.newsletter_description != empty %}
            <div class="rte text-link-animated">{{ section.settings.newsletter_description }}</div>
          {% endif %}
					<div class="input-group">
						<input type="hidden" name="contact[tags]" value="prospect, password page">
						<input type="email" name="contact[email]" id="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" class="form-control password--input">
						<span class="input-group-btn"><input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="btn btn-default"></span>
					</div>
				</div>
				{% endif %}
			{% endform %}
		</div>

    {% endif %}

    {% if section.settings.social_media_icons %}
      {% render 'social-icons' %}
    {% endif %}

	</section>
  </div>

  <footer id="password--footer" class="text-link-animated">
    <div class="powered">
      {{ 'coming_soon.general.powered_by_html' | t }}
    </div>

    <div class="password--site-owner-options">
      <a href="#" class="password-show">{{ 'coming_soon.general.password' | t }}</a>
    </div>
  </footer>

</div>

{% schema %}
{
	"name": "t:sections.template--password.name",
	"settings": [
		{
			"type": "header",
			"content": "t:all.Colors"
		},
		{
			"type": "color",
			"id": "password__text-color",
			"label": "t:all.Text",
			"default": "#262428"
		},
		{
			"type": "color",
			"id": "password__background-color",
			"label": "t:all.Background",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "password__footer-color",
			"label": "t:all.Footer_text",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "password-button__background-color",
			"label": "t:all.Button_background",
			"default": "#262428"
		},
		{
			"type": "color",
			"id": "password-button__text-color",
			"label": "t:all.Button_text",
			"default": "#ffffff"
		},
		{
			"type": "header",
			"content": "t:all.Background_image"
		},
		{
			"type": "image_picker",
			"id": "password__background",
			"label": "t:all.Image",
			"info": "t:all.2000_x_800px_recommended"
		},
		{
			"type": "range",
			"id": "password__background_overlay_opacity",
			"min": 0,
			"max": 95,
			"step": 5,
			"unit": "t:all.percentage",
			"label": "t:all.Overlay_opacity",
			"default": 40
		},
		{
			"type": "header",
			"content": "t:all.Content"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "t:all.Logo_image"
		},
		{
			"type": "range",
			"id": "logo_max_width",
			"min": 50,
			"max": 400,
			"step": 10,
			"unit": "t:all.px",
			"label": "t:all.Logo_width",
			"default": 200
		},
		{
			"type": "text",
			"id": "password__header-text",
			"label": "t:all.Heading",
			"default": "Will be opening soon..."
		},
		{
			"type": "paragraph",
			"content": "t:sections.template--password.settings.paragraph-13.content"
		},
		{
			"type": "checkbox",
			"id": "social_media_icons",
			"label": "t:all.Show_social_media_icons",
			"default": true,
			"info": "t:sections.template--password.settings.social_media_icons.info"
		},
		{
			"type": "header",
			"content": "t:all.Newsletter"
		},
		{
			"type": "checkbox",
			"id": "newsletter_enable",
			"label": "t:sections.template--password.settings.newsletter_enable.label",
			"default": true
		},
		{
			"type": "richtext",
			"id": "newsletter_description",
			"label": "t:all.Description",
			"default": "<p>Find out when we open</p>"
		}
	]
}
{% endschema %}
