{{ 'video-section.css' | asset_url | stylesheet_tag }}

{% liquid
  assign video_list = section.blocks | where: 'type', 'video-item'
%}

<section id="video-section">
  <div class="video-section-container">
    <story-video>
      <template>
        {% for video_item in video_list %}
          <div class="video-item">
            {{ video_item.settings.video | video_tag: autoplay: true, loop: true, muted: true, playsinline: true }}
          </div>
        {% endfor %}
      </template>
      <div class="column video-section-wrapper">
        <div id="video-section">
          <div class="controls">
            <button id="prevBtn">
              {% render 'theme-icon' with icon: 'chevron_left', iconSize: 18, iconHeight: 18 %}
            </button>
            <button id="nextBtn">
              {% render 'theme-icon' with icon: 'chevron_right', iconSize: 18, iconHeight: 18 %}
            </button>
          </div>
          <video id="videoPlayer" playsinline="true" autoplay="autoplay" muted="muted" preload="metadata"></video>
          <div class="progress-container" id="progressContainer"></div>
          {% comment %} {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, playsinline: true }} {% endcomment %}
        </div>
      </div>
    </story-video>
    <div class="column image-right-side-wrapper">
      {{ section.settings.image_right_side | image_url: height: 1600 | image_tag }}
      <div class="background-overlay"></div>
      <div class="video-section-title-wrapper">
        <h3 class="video-section-brand-name">Upper Empire</h3>
        <h2>{{ section.settings.section_title }}</h2>
        <div>
          <a href="{{ section.settings.section_subtitle_url }}" class="cta-button">
            {{- section.settings.section_subtitle -}}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ 'video-section.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Video Section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "image_picker",
      "id": "video_thumbnail",
      "label": "Video Thumbnail"
    },
    {
      "type": "image_picker",
      "id": "image_right_side",
      "label": "Image Right Side"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "section_subtitle",
      "label": "Section Subtitle"
    },
    {
      "type": "text",
      "id": "section_subtitle_url",
      "label": "Section Subtitle URL"
    }
  ],
  "blocks": [
    {
      "type": "video-item",
      "name": "Video Item",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}
